@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --main-color:#f7961d; */
}
*{padding: 0;margin: 0;font-family: Arial, Helvetica, sans-serif;font-family: 'Poppins', sans-serif !important;}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
body{
    color: #000000;
    background-color: #f7f8fd;
}
.overview .text{
    font-size: 20px;
    color: #000000;
}
.overview .value{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}
/* .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom{
    position: absolute;
    top: 0 !important;
    right: 0 !important;
} */
.performance .profit{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.border-top-bottom{
    width: 5px;
    background-color:#EBEBEB;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.orders p.active,.nav-menu-list button.active{
    color: #00D880;
}
.nav-menu-list button:hover{
    background-color: transparent;
    color: #00D880;
}
.rbc-toolbar-label{
    font-size: 20px;
    font-weight: 600;
}
.rbc-btn-group:last-child{
    display: none !important;
}
.rbc-btn-group:first-child button:nth-child(2){
    position: absolute;
    left: -71px;
}
.rbc-btn-group:first-child{
    position: relative;
}
.rbc-toolbar{
    flex-direction: row-reverse;
    align-items: center;
}
.rbc-btn-group:first-child button:nth-child(2)::after{
    width: 30px;
    height: 30px;
    content: "<";
    position: absolute;
    font-size: 30px;
    top:-3px
}
.rbc-btn-group button{
    border: none !important;
    
}
.rbc-btn-group button:first-child{
    position: relative;
    left: -20px;
    top: 0px;
    background-color: #00D880;
    border-radius: 20px !important;
    color: #fff;
    
    font-size: 14px;
}
.rbc-btn-group button:first-child:hover{

    background-color: #00D880 !important;
    color: #fff !important;
}

.rbc-toolbar button:hover {
    color: #373a3c;
    background-color: transparent !important;
    border-color: transparent !important;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
    box-shadow: none !important;
}
.rbc-toolbar button:focus{
    background-color: transparent !important;
}
.rbc-btn-group:first-child button:nth-child(3)::after{
    width: 30px;
    height: 30px;
    content: ">";
    position: absolute;
    font-size: 30px;
    top:-3px;
    right: 20px;
}
.rbc-btn-group:first-child button:nth-child(2),
.rbc-btn-group:first-child button:nth-child(3){
    width: 30px;
    height: 30px;
    font-size: 1px;
}